body {
    /* font-family: 'Nunito Sans', sans-serif; */

    /* тут была А Н Н А  Б Л О К */
}

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px; 
}

.header-logo {
    /* только после этого появилась картинка */
    display: block; 
    background-image: url(../img/Logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 176px;
    height: 56px;

}

.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0 auto;
    gap: 46px;
}

.header-nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: transparent ;
}

.header-nav a.active::after {
    content: '';    
    background-color: #FFC725;
}

.header-nav a {
    text-decoration: none;    
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/food.jpg);    
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    Width: 1920px;
    Height: 479px;
    /* max-width: 1920px; */
    /* flex: 0 0 49%; */
}
h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 79px;
}
flex: 0 0 49%;
color: #fff;
box-sizing: border-box;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

/* .basket {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px; */
}
/* .main-img {
    display: block; 
    
    background-repeat: no-repeat;
    background-size: cover;
    
      
} */